# Common constraints for edx repos
-c ../edx_lint/files/common_constraints.txt

code-annotations>=1.1.0

# pylint>=2.15.0 contains breaking changes
# Failing python tests will be fixed in a later PR
pylint<2.15.0
